.advantage-list__container {
  padding: 50px 0;
  background-color: #eeeeee;
}

.advantage-list__numbers {
  display: flex;
  padding: 0 30px;
  justify-content: space-around;

  margin: unset;
}

.advantage-list__item {
  max-width: 300px;
  text-transform: uppercase;
  text-align: center;
}
