.advantage-list__container {
  background: #eeeeee;
  display: flex;
  justify-content: space-around;
  padding-top: 43px;
  padding-bottom: 62px;
}

.advantage-list__item {
  text-align: center;
}

.advantage-list__item:nth-child(1) {
  flex-basis: 315px;
}

.advantage-list__item:nth-child(2) {
  flex-basis: 292px;
}

.advantage-list__item:nth-child(3) {
  flex-basis: 290px;
}

/* stylelint-disable-next-line no-duplicate-selectors */

