/* stylelint-disable indentation */
.bonus__container {
   padding-top: 59px;
   padding-bottom: 81px;
}

.bonus__list {
  display: flex;
}

.bonus__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: unset;
  padding-bottom: 30px;
}

.bonus__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: unset;
}
