
@media (min-width: 320px) {
  .bonus__container {
    padding: 20px 0;
  }

  .bonus__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
  }

  .bonus__item {
    flex-basis: unset;
    display: flex;
    padding: 0 18px;
    align-items: center;
    gap: 8px;
    flex-direction: row;
  }

  .bonus__text {
    padding-top: 15px;
  }

  .bonus__content {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .bonus__container {
    padding-top: 59px;
    padding-bottom: 81px;
  }

  .bonus__list {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 30px;
  }

  .bonus__item {
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: unset;
    flex-basis: 300px;
  }

  .bonus__content {
    text-align: center;
  }

  .bonus__name {
    padding-top: 25px;
  }

  .bonus__text {
    padding-top: 25px;
  }
}
