.gallery__list {
  margin-top: unset;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item:nth-child(1) {
  flex-basis: 100%;
  flex-shrink: 1;
}

.gallery__picture {
  width: 100%;
}

.gallery__img {
  width: 100%;
  object-fit: cover;
}

.gallery__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.gallery__text {
  display: flex;
  flex-direction: column;
}

.gallery__picture-name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery__picture-author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.gallery__container {
  display: flex;
  align-items: center;
}

.gallery__button {
  border: none;
  background: transparent;
}
