.header__container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px 0;
}

.header__logo {
  position: absolute;
  z-index: 3;
  top: 0;
}

.header__nav {
  width: 1200px;
  max-width: 100%;
}

.header__list {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  list-style: none;
}

.header__item:nth-child(2) {
  padding-right: 120px;
}


.header__item-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.header__toggle {
  display: none;
}

.header__btn-open {
  display: none;
}

