@media (max-width: 1045px) {
  .hero__logo-modified {
    height: 77px;
  }

  .advantage__content {
    padding: 0 40px;
  }

  .bonus__list {
    padding: 0 30px;
    gap: 70px;
  }

  .advantage-list__numbers {
    gap: 40px;
  }

  .form__content {
    padding: 0 60px;
  }

  .form__introduce {
    padding-right: 30px;
  }

  .form__contact {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .header__nav {
    height: 56px;
  }

  .header__list {
    visibility: hidden;
  }

  .hero__logo {
    max-width: 300px;
    height: 214px;
  }

  .hero__logo-modified {
    max-width: 230px;
    height: 100%;
  }

  .introduction__title {
    font-size: 18px;
    max-width: 90%;
  }

  .introduction__text {
    max-width: 90%;
  }

  .name {
    font-size: 18px;
  }

  .advantage__container {
    flex-direction: column;
  }

  .advantage__content {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bonus__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bonus__list {
    flex-direction: column;
    gap: 30px;
  }

  .bonus__item {
    flex-basis: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
  }

  .bonus__text {
    padding-top: 15px;
  }

  .bonus__content {
    text-align: left;
  }

  .advantage-list__container {
    padding: 30px 0;
  }

  .advantage-list__numbers {
    flex-direction: column;
    align-items: center;
  }

  .book__title {
    font-size: 21px;
    max-width: 90%;
  }

  .book__text {
    max-width: 90%;
  }

  .book__button {
    max-width: 90%;
  }

  .footer__container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .form__content {
    padding: 0 20px;
  }

  .form__list {
    flex-direction: column;
  }

  .form__introduce {
    flex-basis: 100%;
    padding-right: unset;
  }

  .form__contact {
    flex-basis: 100%;
    padding-left: unset;
  }

  .form__submit {
    flex-direction: column;
    align-items: flex-end;
  }
}
