.name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: unset;
}

.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: unset;
}
