.video__container {
  padding-top: 17px;
  padding-bottom: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video__picture {
  padding: 0 20px;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: unset;
}

.video__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__text {
  max-width: 90%;
  padding-top: 38px;
  padding-bottom: 38px;
  font-weight: 400;
  width: 445px;
  text-transform: uppercase;
  margin: unset;
}


@media (min-width: 768px) {
  .video__container {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .video__picture {
    padding: 0 60px;
  }
}

@media (min-width: 1045px) {
  .video__container {
    padding-top: 62px;
  }
}
